nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  height: 100px;
  margin-top: 10px;
  max-width: 1440px;
  margin: 0 auto;
}

.member-buttons {
  display: none;
}

.navbar-logo {
  max-width: 300px;
  max-height: 80px;
}
nav button {
  padding: 5px 15px;
  border-radius: 30px;
  font-weight: 700;
  font-size: x-large;
  background-color: white;
  border: 1px black solid;
}
.holder {
  height: 100%;
  width: 100%;
  background-color: #fff9;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  display: none;
}
.holder > div,
.holder form {
  margin: auto;
  display: flex;
  height: fit-content;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  padding: 100px;
  background-image: url(../images/bg-paws.png);
}
.log-in__button:hover {
  color: #a5e06c;
  background-color: whitesmoke;
  border-color: #a5e06c;
}
.register__button:hover {
  color: #6ca5e0;
  background-color: whitesmoke;
  border-color: #6ca5e0;
}
.log-out__button:hover {
  color: #e06ca5;
  border-color: #e06ca5;
  background-color: whitesmoke;
}
